footer.p-top-56.p-bottom-56
    .container
        .row.p-bottom-24
            .col-xs-12.col-sm-12.vertical-align
                img.m-right-16(src=resourceLocator+"assets/img/brand/gluo-logo-g-blanco.jpg", alt="", srcset=resourceLocator+"assets/img/brand/gluo-logo-g-blanco.jpg 1x,"+resourceLocator+"assets/img/brand/gluo-logo-g-blanco@2x.jpg 2x,"+resourceLocator+"assets/img/brand/gluo-logo-g-blanco@3x.jpg 3x")
                span.color-white Made with 
                    span ❤️ 
                    |in CDMX
        .row
            .col-xs-12.col-sm-6
                a.color-white(href="#") Aviso de privacidad
                p.color-white.m-bottom-0.m-top-8 WeWork, Insurgentes Sur 601, Nápoles, 03810, CDMX
            .col-xs-12.col-sm-6
                p.m-bottom-24.color-white Keep in touch wth us
                ul.p-left-0.GC-footer-social__list
                    li
                        a(href="https://www.instagram.com/gluo_/" target="_blank")
                            img(src=resourceLocator+"assets/img/social-media/instagram.png", alt="", srcset=resourceLocator+"assets/img/social-media/instagram.png 1x,"+resourceLocator+"assets/img/social-media/instagram@2x.png 2x,"+resourceLocator+"assets/img/social-media/instagram@3x.png 3x")
                    li
                        a(href="https://www.linkedin.com/company/gluo/" target="_blank")
                            img(src=resourceLocator+"assets/img/social-media/linkedin.png", alt="", srcset=resourceLocator+"assets/img/social-media/linkedin.png 1x,"+resourceLocator+"assets/img/social-media/linkedin@2x.png 2x,"+resourceLocator+"assets/img/social-media/linkedin@3x.png 3x")
                    li
                        a(href="https://twitter.com/gluo_" target="_blank")
                            img(src=resourceLocator+"assets/img/social-media/twitter.png", alt="", srcset=resourceLocator+"assets/img/social-media/twitter.png 1x,"+resourceLocator+"assets/img/social-media/twitter@2x.png 2x,"+resourceLocator+"assets/img/social-media/twitter@3x.png 3x")
                    li
                        a(href="https://www.facebook.com/gluo.mx/" target="_blank")
                            img(src=resourceLocator+"assets/img/social-media/facebook.png", alt="", srcset=resourceLocator+"assets/img/social-media/facebook.png 1x,"+resourceLocator+"assets/img/social-media/facebook@2x.png 2x,"+resourceLocator+"assets/img/social-media/facebook@3x.png 3x")
                    li
                        a(href="https://medium.com/@gluo" target="_blank")
                            img(src=resourceLocator+"assets/img/social-media/monogram.png", alt="", srcset=resourceLocator+"assets/img/social-media/monogram.png 1x,"+resourceLocator+"assets/img/social-media/monogram@2x.png 2x,"+resourceLocator+"assets/img/social-media/monogram@3x.png 3x")
block scripts
